In [5]:
import pandas as pd

In [6]:
#1.Read the data from the CSV file into a DataFrame and display the first five rows
df_ramen=pd.read_csv('ramen-ratings.csv')
df_ramen.head()

,Brand,Variety,Style,Country,Stars
0,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75
1,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1.00
2,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25
3,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75
4,Ching's Secret,Singapore Curry,Pack,India,3.75

In [7]:
#2.Add a column to the DataFrame that stores the average rating for each country.
# Then, display the first five rows and verify that the column was added and
# that its values appear to be correct.
df_ramen['average_rating']=df_ramen.groupby('Country')['Stars'].transform('mean')
df_ramen.head()

,Brand,Variety,Style,Country,Stars,average_rating
0,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,3.981605
1,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1.00,3.665402
2,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,3.457043
3,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,3.665402
4,Ching's Secret,Singapore Curry,Pack,India,3.75,3.395161

In [8]:
#3.Group the data by the Country and Style columns and take the mean. 
# Then,unstack the Style column and display the data for the Stars column
columns_grouped=df_ramen.groupby(['Country','Style'])['Stars'].mean()
column_unstack=columns_grouped.unstack('Style')
column_unstack.head()

Style       Bar     Bowl  Box  Can       Cup      Pack  Tray
Country
Australia   NaN      NaN  NaN  NaN  3.120588  3.200000   NaN
Bangladesh  NaN      NaN  NaN  NaN       NaN  3.714286   NaN
Brazil      NaN      NaN  NaN  NaN  4.500000  4.250000   NaN
Cambodia    NaN      NaN  NaN  NaN       NaN  4.200000   NaN
Canada      NaN  2.28125  NaN  NaN  1.970588  2.515625   NaN

In [9]:
#Write a function that takes a row as input and returns a shortened version of the values in the Variety column.
# The values should consist of the first two words of the variety name, followed by a space and an ellipsis (...). 
# Hint: Youâ€™ll need to split the values into a list of words, get the first two words in the list,
# add the ellipsis to the list, and then join the words in the list.
def shortened_version(row):
    
    words=row.Variety.split()
    word = ' '.join(words[:2]) + "..."
    return word

In [10]:
#5.Apply the function you just wrote to the DataFrame,and store the results in a column named ShortVariety.
# Then, display the first five rows to be sure this worked
df_ramen['short_variety'] = df_ramen.apply(shortened_version, axis=1)
df_ramen.head()

,Brand,Variety,Style,Country,Stars,average_rating,short_variety
0,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,3.981605,T's Restaurant...
1,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1.00,3.665402,Noodles Spicy...
2,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,3.457043,Cup Noodles...
3,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,3.665402,GGE Ramen...
4,Ching's Secret,Singapore Curry,Pack,India,3.75,3.395161,Singapore Curry...

In [11]:
#6.Set an index on the Brand column and then display the first five rows of data
df_ramen.set_index('Brand',inplace=True)
df_ramen.head()

,Variety,Style,Country,Stars,average_rating,short_variety
Brand,,,,,,
New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,3.981605,T's Restaurant...
Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1.00,3.665402,Noodles Spicy...
Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,3.457043,Cup Noodles...
Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,3.665402,GGE Ramen...
Ching's Secret,Singapore Curry,Pack,India,3.75,3.395161,Singapore Curry...

In [12]:
#7.Reset the index to its default.
df_ramen.reset_index(inplace=True)